asn1crypto==1.5.1
black==24.10.0
click==8.1.7
mypy==1.12.0
mypy-extensions==1.0.0
networkx==3.4.1
packaging==24.1
pathspec==0.12.1
pg8000==1.31.2
platformdirs==4.3.6
python-dateutil==2.9.0.post0
scramp==1.4.5
setuptools==75.1.0
six==1.16.0
typing_extensions==4.12.2
wheel==0.44.0
